<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It is Sadman Ahmed Abir </h1>
    <p>Sadman Ahmed Abir is a very beginner level Ruby on rails developer. Currently he is in learning stage and practicing ror from different sources, Inshallah he will be good ror devs in a mean time. Keep me in your prayers.</p>

  </div>

</div>
